html {
	height: 99%;
	width: 87%;
	margin: 0 auto;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	margin-top: 3px;
}

#wrapper {
	height: 100%;
	margin: 0 auto -25px;
	width: 100%;
	border-top: 3px solid #000;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
}

#header {
	min-height: 85px;
	border-bottom: 3px solid #000;
}

#header h1 {
	padding-bottom: 0px;
	padding-top: 4px;
	margin-top: 13px;
	margin-bottom: 0px;
	color: #00029F;
	padding-left: 36px;
}

#language {
	float: right;
	padding-top: 16px;
	/* margin: -25px 10px 0 0; */
}

#language a {
	font-weight: bold;
	color: #0000EE;
	padding-left: 8px;
	border-left-width: 14px;
}

#body {
	border: 2px solid #BFBFBF;
	margin: 6px;
	height: calc(100% - 129px);
	width: 80%;
	padding-left: 19%;
	margin-left: 6px;
	margin-right: 6px;

	/* margin-left: 19%; */
	/* border-left: 0px solid #BFBFBF; */
}

#footer {
	border-top: 3px solid #000;
	text-align: center;
	border-bottom: 3px solid #000;
	max-height: 30px;
	vertical-align: bottom;
}

.tableNameNews {
	height: 100px;
	width: 100%;
	border-collapse: collapse;
}

#back {
	padding: 15px;
	vertical-align: top;
}

#prevButton {
	float: left;
	padding-left: 10px;
	position: -ms-page;
	bottom: 40px;
	left: 92px;
}

#nextButton {
	float: right;
	padding-right: 10px;
	position: -ms-page;
	bottom: 40px;
	right: 86px;
}

#1v {
	height: 70px;
}

#viewNews {
	position: relative;
	height: 100%;
}

#content {
	height: 86%;
	vertical-align: middle;
}

#titleNewsView {
	padding-left: 30px;
	width: 60%;
}

#view h3 {
	margin-top: 0px;
}

#contentNewsView {
	height: 35%;
}

#shortTextNewsView {
	height: 50%;
}

#shortTextNewsView h4 {
	height: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 150px;
	padding-left: 25px;
}

#contentNewsView h4 {
	padding-right: 150px;
	padding-left: 25px;
}

#nameAuthorView {
	float: top;
}

#dateNewsView {
	text-align: center;
	width: 15%;
}

#prevNextButtons {
	position: relative;
	bottom: 0;
}

#commentsNewsView {
	width: 95%;
	height: 40%;
	padding-left: 25px;
	margin-top: 30px;
}

.dateInComments {
	margin-top: 0px;
	margin-bottom: 0px;
}

#commentList {
	float: left;
	overflow-y: auto;
	width: 50%;
	height: 80%;
}

#commentForm {
	padding-left: 54%;
}

.tagList {
	float: left;
	margin: 10px;
}

.commentsCount {
	float: left;
	margin: 10px;
}

.viewButton {
	float: right;
	margin: 10px;
}

.commentsTagsAndViewButton {
	float: right;
	margin-right: 10px;
}

#errorMessage {
	text-align: center;
}

.pagination {
	height: 6%;
	text-align: center;
	vertical-align: bottom;
	background-color: grey;
}

.pagination ul {
	list-style: none;
	padding: 14px;
}

.pagination li {
	display: inline;
}

#newsList {
	height: 100%;
}

.active {
	color: red;
}

#loginPage {
	width: 275px;
	height: 180px;
	margin-left: 22%;
	margin-top: 10%;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	/* border: 1px solid #000; */
	margin-top: 218px;
}

#nameSite {
	float: left;
}

#funcSite {
	float: right;
	padding-right: 20px;
}

#funcSite h2 {
	margin-top: 11px;
	margin-bottom: 0px;
}

#funcSite p {
	margin-top: 0px;
}

#menuContent {
	width: 16%;
	float: left;
	background-color: white;
	border-width: 7px;
	list-style-position: inside;
	margin: 5px -4px 10px 32px;
	border-bottom: 10px solid #999999;
	border-left: 6px solid #999999;
	border-right: 3px solid #999999;
	padding-bottom: 0px;
	border-bottom-width: 22px;
	border-right-width: 18px;
	margin-left: 8px;
	margin-top: 8px;
	/* border-right: 2px solid #BFBFBF; */
	height: 134px;
	border-left-width: 18px;
	padding-left: 0px;
}

#menuContent ul {
	list-style-position: inside;
	list-style-image: url(../images/mark.PNG);
	padding-left: 7px;
}

#menuContent li {
	height: 30px;
	white-space: nowrap;
}

.dropdown dd, .dropdown dt {
	/* margin:0px; */
	padding: 0px;
	/* float: left; */
	height: 0px;
}

.dropdown ul {
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a, .dropdown a:visited {
	color: black;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	height: 21px;
}

.dropdown dt a {
	background-color: whitesmoke;
	display: block;
	padding: 3px 20px 7px 10px;
	min-height: 18px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
	width: 244px;
	text-align: center;
	/* background: rgba(144, 127, 127, 0.11) !important; */
	text-shadow: 0 1px white;
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	text-align: start;
}

.dropdown dt a span, .multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
}

.dropdown dd ul {
	background-color: whitesmoke;
	border: 0;
	color: black;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: 2px;
	width: 255px;
	list-style: none;
	height: 100px;
	overflow: auto;
	margin-top: 29px;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #fff;
}

.dropdown a {
	
}

.dropdown dd {
	margin-left: 35%;
}

.dropdown dt {
	margin-left: 35%;
	margin-right: 0px;
}

.multiSel {
	margin-top: 0px;
}

.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.dropdown {
	height: 17px;
}

.dropdown1 {
	margin-left: 123px;
	float: left;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 28px;
	width: 180px;
	background: #f2f2f2;
	border: 1px solid;
	border-color: white #f7f7f7 whitesmoke;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown1:before, .dropdown1:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 9px;
	right: 10px;
	width: 0;
	height: 0;
	border: 4px dashed;
	border-color: #888888 transparent;
	pointer-events: none;
}

.dropdown1:before {
	border-bottom-style: solid;
	border-top: none;
}

.dropdown1:after {
	margin-top: 7px;
	border-top-style: solid;
	border-bottom: none;
}

.dropdown1-select {
	position: relative;
	width: 101%;
	margin: 0;
	padding: 6px 8px 6px 10px;
	height: 28px;
	line-height: 14px;
	font-size: 12px;
	color: #000000;
	text-shadow: 0 1px white;
	background: #f2f2f2; /* Fallback for IE 8 */
	background: rgba(0, 0, 0, 0) !important;
	/* "transparent" doesn't work with Opera */
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.dropdown1-select:focus {
	z-index: 3;
	width: 100%;
	color: #394349;
	outline: 2px solid #49aff2;
	outline: 2px solid -webkit-focus-ring-color;
	outline-offset: -2px;
}

.dropdown1-select>option {
	margin: 3px;
	padding: 6px 8px;
	text-shadow: none;
	background: #f2f2f2;
	border-radius: 3px;
	cursor: pointer;
}

#buttonFilter{
  background-color: slategrey;
  width: 90px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-bottom: 5px;    
  margin-right: 5px;    margin-top: 0px;
  height: 31px;
}

#buttonDelete {
	background-color: slategrey;
	width: 90px;
	border: 0;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	float: right;
	height: 31px;
	position: fixed;
	bottom: 150px;
	right: 90px;
}

.trAdd {
	margin: 0px;
	padding: 0px;
}

.tdAdd {
	margin: 0px;
	padding: 4px;
}

#table_edit {
	width: 97%;
}

#table_edit  textarea {
	overflow: auto;
}

#addNewsDiv {
	margin-top: 50px;
	margin-left: 45px;
}

#save_cancel input {
	float: right;
	margin-right: 15%;
}

.addUpdateDiv {
	text-align: center;
	overflow-y: auto;
	height: 90%;
}

.addUpdateDiv td {
	padding: 7px;
}

.addUpdateDiv table {
	margin-top: 30px;
	margin-left: 190px;
}

#buttonSignIn {
	background-color: slategrey;
	width: 90px;
	border: 0;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	float: right;
	height: 31px;
	margin-top: 10px;
	margin-right: 75px;
}

#commentList td {
	width: 388.66px;
}

.commentText {
	float: left;
	margin-left: 10px;
}

.deleteCommentButton {
	float: right;
}

.editClassButton {
	float: left;
}